body {
    font-family: 'Arial', sans-serif;
    background-image: url(/images/doodles-bg.png);
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: rgba(7, 6, 6, 0.8);
    color: antiquewhite;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

h1 {
    color: chocolate;
}

.top-sections,
.bottom-sections {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section-two,
.section-three,
.section-four,
.section-five,
.section-six {
    background-color: beige;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin: 15px;
    flex: 1;
    transition: transform 0.3s;
}
.top-sections img{
    border-radius: 50%;
    max-width: 50%;
    height: auto;
}
.bottom-sections img{
    border-radius: 50%;
    max-width: 50%;
    height: auto;
}

.section-two:hover,
.section-three:hover,
.section-four:hover,
.section-five:hover,
.section-six:hover {
    cursor: pointer;
    transform: scale(1.1); /* Increase the size on hover */
}

#back-to-home {
    position: fixed;
    top: 15px;
    left: 15px;
    background: linear-gradient(45deg, #ff8a00, #d50f75); 
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: #fffffffe;
    font-size: 16px;
}

/* Custom ScrollBar */
html::-webkit-scrollbar
{
    width: 15px;
}
html::-webkit-scrollbar-track
{
    background: transparent;
}
html::-webkit-scrollbar-thumb
{
    background: #fe5b3d;
    border-radius: 80px;
}
section
{
    pad: 50px 100px;
}