@import url('https://fonts.googleapis.com/css2?family=Acme&family=Croissant+One&family=Gasoek+One&family=Lobster&family=Lora:ital,wght@1,500&family=Notable&family=Open+Sans:wght@300;400&family=Play&family=Poppins:wght@300&family=Rajdhani:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    background-size: cover;
    background-position: center;
    margin: 0;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.sliding-text {
    font-size: 100px;
    font-family: 'Notable', sans-serif;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 0;
    white-space: nowrap;
    margin-right: 50vw;
    transform: translateX(-100%);
    animation: slideText 8s linear infinite;
    background: linear-gradient(to bottom, #434343, #000000);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    z-index: -1;
    overflow: hidden;
}

@keyframes slideText {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.logo {
    max-width: 100%; /* Ensure the logo doesn't exceed its container */
    height: auto; /* Maintain aspect ratio */
    display: block; 
    position:fixed;
    top: 0;
    left: 0;
    margin: 20px;
    padding: 20px;
    z-index: 999;
    background-color: black;
    border-radius: 50%; 
}

.logo img {
    border-radius: 10px;
    display: block;
    cursor: pointer;
}

.btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.wrapper .btn:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
}

.register-link {
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
}

.input__icon-wrapper {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    cursor: pointer;
}

.input__icon {
    color: #999;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    .wrapper {
        padding: 20px 10px;
    }

    .wrapper h1 {
        font-size: 24px;
    }

    .input-box input {
        font-size:14px;
        padding: 12px 15px;
    }

    .submit {
        margin-top: 15px;
    }

    .btn {
        font-size: 16px;
        height: 35px;
    }

    .input__icon {
        font-size: 18px;
    }

    .logo{
        max-width: 50%;
    }

    .logo img{
        max-width: 60px;
    }
    
    .sliding-text{
        font-size: 75px;
    }
}

.scrolling-text {
    background: linear-gradient(to bottom, #434343, #000000);
    font-size: 100px;
    
    white-space: nowrap;
    top: 50%;
    left: 0;
    white-space: nowrap;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    z-index: 2;
}

.m-scroll {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    z-index: 1;
}

.m-scroll__title {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    transform: scale(2);
    transition: all 1s ease;
}

.m-scroll__title > div {
    display: flex;
    animation: scrollText 15s infinite linear;
}

.m-scroll__title h1 {
    margin: 0;
    font-size: 140px;
    color: rgba(255, 255, 255, 1);
    transition: all 2s ease;
}

.m-scroll__title a {
  font-family: 'Notable', sans-serif;
    text-decoration: none;
    background: linear-gradient(to bottom, #434343, #282727);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@keyframes scrollText {
    from { transform: translateX(0%); }
    to { transform: translateX(-50%); }
}