@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0%;
    font-size: 16px;
    min-height: 100vh;
    background-color: rgb(255, 155, 155);
    background-size: cover;
    background-position: center;
    flex-direction: column;
    
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    
}
#home-section{
    position: relative;
    width: 100%;
    height: 100vh; /* Set the container height to the viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo{
    width: 100px;
    border-radius: 50%;
    top: 0;
    right: 0;
    background-color: #070606;
    box-shadow: 10px 10px 20px black;
}
.content{
    text-align: center;
}
.content h1{
    font-size: 120px;
    line-height: 160px;
    margin-left: 10px;
    color: transparent;
    -webkit-text-stroke:1px #fff ;
    background: url(/images/back1.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 4s linear infinite;
    
    
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #070606;
    font-size: 24px;
    border: 2px solid #080404;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;

}
@media  (min-aspect-ratio:16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
    
}
@media  (max-aspect-ratio:16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
    
}
button {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan;
    }
    button:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
    }
.socail-icon ul{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
    display: flex;
}
.socail-icon ul li{
    list-style: none;
    margin: 0 15px;
}
@media screen and (max-width: 600px){
    .logo{
        max-width: 50%;
    }

    .logo img{
        max-width: 50px;
    }
    
}
.container{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.card{
    background-color: #fff;
    width: 270px;
    height: 400px;
    margin: 10px;
    border-radius: 10px;
}
.card-image{
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.card-1{
    background-image: url(/images/athletics.jpg);

}
.card a{
   background-color: #070606;
   color: #fff;
   padding: 15px 20px;
   display: block;
   margin: 20px 50px; 
}
.card:hover{
    background-color: rgb(236, 75, 64);
    color: #fff;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}
#section-2{
    text-align: center;

}
