@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Croissant+One&family=Lobster&family=Lora&family=Silkscreen:ital,wght@1,500&family=Mina:wght@700&family=Notable&family=Open+Sans:wght@300;400&family=Play&family=Poppins:wght@700&family=Rajdhani:wght@300;700&family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    position: relative;
    background-image: url("./../images/OJUS 2K24 (1).png");
    background-repeat: repeat;
    background-size: 700px;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    padding: 0px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(7, 6, 6, 0.8); /* Use rgba to set opacity */
}


nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    
}

nav ul li a:hover{
    text-decoration: none;
    background: linear-gradient(45deg, #ff8a00, #e52e71);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 17px;
    font-weight: 700;
    
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -2;
}

#home-section {
    position: relative;
    min-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    
}
#home-section .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container */
    object-position: center; /* Centers the image within the container */
    z-index: -1;
}



.logo{
    width: 100px;
    border-radius: 50%;
    top: 0;
    right: 0;
    background-color: #070606;
    box-shadow: 10px 10px 20px black;
}

.logo img {
    max-width: 80px;
    height: auto;
    display: block;
    
}

.header{
    max-height:80px;
    align-items: center;
}
nav {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

nav ul li {
    list-style :none;
    display: inline-block;
    margin-right: 40px;
}

nav ul li a {
    text-align: center;
    text-decoration: none;
    color: #fffffffe;
    font-size: 17px;
    font-weight: 700;
}

.hero-container{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    text-align: left;
}
.hero {
    left: 0;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

.hero-container img{
    max-height: 50vh;
}

.hero h1{
    font-size: 12vh;
}
.hero h2{
    
    font-size: 8vh;
}

.hero h1,h2{
    font-family: 'Archivo Black', sans-serif;
    color: transparent;
    -webkit-text-stroke:1px #fff ;
    background: url("./images/AP-56.jpg");
    -webkit-background-clip: text;
    background-clip: text;
    background-position: 0 0;
}

#section-2{
    min-width: 100%;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
    background-color: rgba(7, 6, 6, 0.8); /* Use rgba to set opacity */
    padding-top: 50px;
    padding-bottom: 70px;
    opacity: 0;
    transition: opacity 1s ease;
    margin-bottom: 100px;
    
}

#section-2.fade-in {
    opacity: 1;
    transition: opacity 1s ease;
}

#section-2::after{
    z-index: -1;
    filter: blur(5px);
}

.divider {
    background: linear-gradient(45deg, #ff8a00, #e52e71);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2em;
    font-family: 'Russo One', sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.subhead{
    font-family: "Poppins", sans-serif;
    padding-top: 20px;
}

#section-2 img{
    width: 70%;
    height: auto;
}

#section-2 .description{
    max-width: 60%;
}

#section-2 .description h3,h4{
    font-family: 'Croissant One', sans-serif;
}

.description h3{
    font-size: 10vh;
    color: chocolate;
}
.blurb{
    font-size: 4vh;
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
}

#section-4 .heading h5{
    font-family: 'Croissant One', sans-serif;
    font-size: 10vh;
    color: chocolate;
}
#carouselExample{
    padding:5vw;
}

#section-4 {
    opacity: 0;
    transition: opacity 1s ease;
    line-height: 5px;
}
#section-4.fade-in {
    opacity: 1;
    transition: opacity 1s ease;
}

.carousel-inner{
    border-radius: 20px;
    max-height: 80vh;
    object-fit: cover;
}

.gdiv {
    height: 2px;
    background-color: #f8f8f8; /* Use your desired whitish color code */
    border: none; /* Remove default border */
    margin: 10px 0; /* Adjust margin as needed */
}




    @media screen and (max-width: 600px) {

        body{
            background-size: 500px;
        }
        #home-section::before,
        #home-section::after {
            height: 15px;
        }
    
        .hero h1 {
            font-size: 20vw;
        }
    
        .hero h2 {
            font-size: 12vw;
        }
    
        #section-2 .description h3 {
            font-size: 6vw;
        }
    
        #section-2 .description h4 {
            font-size: 3vw;
        }
    }

    .gradientText{
        background: linear-gradient(45deg, #ff8a00, #e52e71);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        
    }


